.urban-icon{
    width:15%;    
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.bounce-in-fwd{animation:bounce-in-fwd 1.1s both}
@keyframes bounce-in-fwd{0%{transform:scale(0);animation-timing-function:ease-in;opacity:0}38%{transform:scale(1);animation-timing-function:ease-out;opacity:1}55%{transform:scale(.7);animation-timing-function:ease-in}72%{transform:scale(1);animation-timing-function:ease-out}81%{transform:scale(.84);animation-timing-function:ease-in}89%{transform:scale(1);animation-timing-function:ease-out}95%{transform:scale(.95);animation-timing-function:ease-in}100%{transform:scale(1);animation-timing-function:ease-out}}


.container{
    width: 100%;
    height: 100%;
}


capacitor-google-map {
    display: inline-block;
    width: 100%;
    height: 100%;
  }




.miubicacion{
    position: fixed;
    bottom: 0px;
    background: #ffd740;
}