<app-header [showMenu]="true" title="Home"></app-header>

<ion-content>
  <!--  boton de comenzar  viaje  -->
  <ion-fab
    class="bounce-in-fwd"
    vertical="bottom"
    horizontal="end"
    slot="fixed"
  >
    <ion-fab-button (click)="addTrip()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="container">
    <!--#map-->
    <capacitor-google-map id="map"></capacitor-google-map>
  </div>
  <!-- <ion-button (click)="signOut()"> Cerrar Sesión </ion-button> -->
</ion-content>
