.bounce-in-fwd{animation:bounce-in-fwd 1.1s both}
@keyframes bounce-in-fwd{0%{transform:scale(0);animation-timing-function:ease-in;opacity:0}38%{transform:scale(1);animation-timing-function:ease-out;opacity:1}55%{transform:scale(.7);animation-timing-function:ease-in}72%{transform:scale(1);animation-timing-function:ease-out}81%{transform:scale(.84);animation-timing-function:ease-in}89%{transform:scale(1);animation-timing-function:ease-out}95%{transform:scale(.95);animation-timing-function:ease-in}100%{transform:scale(1);animation-timing-function:ease-out}}

.input{
    font-size: 300;
}

ion-content{
    --ion-background-color: url(/assets/gif/H9it.gif);
}

ion-item{
    --background:#f1f1f1;
    border-radius: 10px;
    margin-bottom: 16px;

}
.header{
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
    .subTitle{
        color: gray;
        font-size: 0.9rem;
    }
    title{
        font-size: 2rem;
    }

}

.signupLink{
    display: flex;
    margin: auto;
    flex-direction: row;
    align-content: center;
    position: absolute;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 80%;
    right: 0;
    p{
        font-size: 0.9rem;

    }
    a{
        text-decoration: none;

    }

}

.forgotPassword{
    display: flex ;
    justify-content: flex-end;
    a{
        font-weight: 400;
        font-size: 0.8rem;
        text-decoration: none;

    }
    
}