<app-header [showMenu]="true" title="Mi Perfil"></app-header>

<ion-content class="ion-padding-top ion-text-center">
  <ion-avatar>
    <img *ngIf="user()?.image" [src]="user()?.image" />
    <ion-icon
      *ngIf="!user()?.image"
      class="empty-icon"
      name="person-circle-outline"
    ></ion-icon>
  </ion-avatar>

  <ion-button
    class="photo-btn"
    (click)="takeImage()"
    mode="ios"
    size="small"
    shape="round"
  >
    <ion-icon name="camera-outline"></ion-icon>
  </ion-button>
  <br />
  <p></p>
  <h2>{{user()?.name}}</h2>
  <br />

  <ion-item (click)="pError()" button detail>
    <ion-icon color="primary" slot="start" name="person-outline"></ion-icon>
    <ion-label>Editar Perfil</ion-label>
  </ion-item>
  <div class="container">
    <lottie-player
      style="width: 50%"
      slot="end"
      autoplay
      loop
      src="https://lottie.host/f2fc772d-cc7a-40f5-858a-d6f95100f88f/WLnTKOhaa5.json"
    >
    </lottie-player>
  </div>
</ion-content>
