ion-avatar{
    width: 140px;
    height: 140px;
    margin: 0 auto;
}

.photo-btn{
    position: relative;
    bottom: 25px;
}

.urban-icon{
    width:15%;    
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}

.container{
    text-align: center;
    margin-top: 50%;
    margin-left: 35%;
}

.empty-icon{
    font-size: 140px;
    opacity: 30%;
}