<app-header backButton="main/home" title="Mi Perfil"></app-header>

<ion-content class="ion-padding-top ion-text-center">
  <ion-avatar>
    <img [src]="user()?.image" />
  </ion-avatar>

  <ion-button
    class="photo-btn"
    (click)="takeImage()"
    mode="ios"
    size="small"
    shape="round"
  >
    <ion-icon name="camera-outline"></ion-icon>
  </ion-button>
  <br />
  <p>Usuario:</p>
  <h1>{{user()?.name}}</h1>
  <br />
  <p>Correo</p>
  <h3>{{user()?.email}}</h3>

  <div class="container">
    <lottie-player
      style="width: 50%"
      slot="end"
      autoplay
      loop
      src="https://lottie.host/f2fc772d-cc7a-40f5-858a-d6f95100f88f/WLnTKOhaa5.json"
    >
    </lottie-player>
  </div>
</ion-content>
